---
layout: base.njk
section: life
title: Life
permalink: /life/
eleventyExcludeFromCollections: true
---
<section class="archive">
  <header class="archive-header">
    <h1 class="archive-title">{{ site.sections.life.name }}</h1>
    <p class="archive-tagline">{{ site.sections.life.tagline }}</p>
    <p class="archive-intro">
      {{ collections.life | length }} posts, {{ site.sections.life.years }}.
    </p>
  </header>

  {%- set currentYear = "" %}
  {%- for post in collections.life %}
    {%- set postYear = post.data.date | year %}
    {%- if postYear != currentYear %}
      {%- if currentYear != "" %}
  </ul>
      {%- endif %}
  <h2 class="archive-year">{{ postYear }}</h2>
  <ul class="archive-list">
      {%- set currentYear = postYear %}
    {%- endif %}
    <li class="archive-item">
      <a class="archive-link" href="{{ post.url | url }}">{{ post.data.title }}</a>
      <time class="archive-date" datetime="{{ post.data.date }}"
        >{{ post.data.date | readableDate }}</time
      >
    </li>
  {%- endfor %}
  </ul>
</section>
